### Other ###
toolchain/
dist/
build/
*.o

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### C and C++ ###
*.d

*.o
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.lib
*.a
*.la
*.lo

*.gch
*.pch

*.dll
*.so
*.so.*
*.dylib

*.slo
*.lai

# A listing of all the files included in the project
*.files

# Include directories
*.includes

# Project configuration settings like predefined Macros
*.config

# Qt Creator settings
*.creator

# User project settings
*.creator.user*

# Qt Creator backups
*.autosave
